  <h1>Bienvenido a Sinatra!</h1>

<h2> Introduce tu url</h2>

<form method="post" action="/urls">
<br>
    <input type="text" name="long_url">
    <br>
    <br>
    <input type="submit" value="Reduce tu Url">
</form>

<%= if @ya_cortado %> 
<p><%"El link es: #{@ya_cortado}" %></p>
<% end %>




